@using WebApplication1test1.Models;

@model IEnumerable<Class1>

@{
    ViewBag.Title = "Index";

    //to view using the custom layout for lesson 59
    Layout = "~/Views/Shared/_Layout_CUSTOM.cshtml";
}
<div style="font-family: monospace">
    <h2>Index</h2>
    <ul>
        @foreach (Class1 class1 in Model)
        {
            <li>
                @Html.ActionLink(class1.Name, "SomethingDetails", new { id = class1.SomeId })
            </li>
        }
    </ul>
    <br />
    @Html.ActionLink("Go to Dummy", "Dummy")
    <br />
    @Html.ActionLink("Go to E", "E")
</div>

@*copyright notice using last modified date for each view on it's own*@
@section copyWrite
    {
    @File.GetLastWriteTime(Server.MapPath(VirtualPath)).ToLongDateString()
}